# Numpy Exercices

## 1. Install & Import Numpy

## 2. Create a 1D Numpy Array of number

In [0]:
np_array = None
np_array

## 4. Create a 4x4 Numpy Array full of 0

In [0]:
np_full_zero = None
np_full_zero

## 4. Extract data from a 1D NArray

In [0]:
# Odd number
np_odd = None
np_odd

## 5.1 Replace data

In [0]:
# Replace even number by 1 and odd by 0.
np_replace = None
np_replace

## 5.2 Replace data 2

In [0]:
# Replace even numbers by 0 and keep the original odd numbers
np_replace2 = None
np_replace2

## 6. Transform 1D to 2D array

In [0]:
# Transform the original 1D array by a 2D array sliced in the middle
np_2d2 = np2.reshape(2, -1)
print(np_2d2)

In [0]:
np_2d2 = None
print(np_2d2)

## 7. Union of 2 arrays

In [0]:
# Make 2 new 1D array arr1 ([0; 9] by 1 unit) / arr2 ([0; 1[ by 0.1) then stack them into 2D array stacked_arr
arr1 = None
arr2 = None
stacked_arr = None
stacked_arr

##8. Union of 2 arrays bis

In [0]:
# Same as before but stacking them in the same row
stacked_arr = None
stacked_arr

## 9. Find the common items

In [0]:
np_arr1 = np.array([1,2,3,4,5,6,7,8,9,0])
np_arr2 = np.array([2,8,5,12,0])
np_common = None
np_common

## 10. Remove item from another np array

In [0]:
np_removed_common = None
np_removed_common

## 11. Use a python function to handle NP Array

In [0]:
# Find, in a new array, the max value of each pair of 2 distinct NP Array.
# Use the given function to "vectorize" the function
np_1 = np.array([2,5,7,4,9,3,1,6,5,8,9])
np_2 = np.array([4,5,3,1,5,12,4,9,0,2,3])

def find_max(x, y):
  pass

find_max_pair = None

find_max_pair(np_1, np_2)

## 12. Create 2D random floats array

In [0]:
# Let's a 6*4 array
np_random = None
np_random

## 13. Find the mean, median and the standard deviation of data

In [0]:
# Randomly generated here
np_data = None

mean_data, median_data, std_data = None, None, None
print(mean_data, median_data, std_data)

## 14. Calculate the quartile

In [0]:
url = "https://www.data.gouv.fr/fr/datasets/r/b6e15e69-de08-4842-b5db-eaf865d22061"

data = np.genfromtxt(url, delimiter=";", encoding="latin1", names=True, dtype=[int, object, int, object, object, int, object, int, object, object, object, object, float])
np_values = None
np_modified = None
np_quartile = None
np_quartile